@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background: #181A20;
}


/* ===NAVIGATION BAR === */


.logo img{
    height: 35px;
    width: 144px;
    background: none;
}

.logo img:hover{
    opacity: 70%;
}

#md-search{
    display: none;
}

@media (max-width: 768px){
    .logo img{
        display: none;
    }

    #md-search{
        display: flex;
        color: white;
    }

}


.logo{
    background: none;
}

i{
    background: none;
    margin-left: 0.6rem;
}

li{
    background: none;
    
}

ul{
    background: none;
    
}


.nav-bar{
    background: none;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    position: fixed;
    z-index: 999;
    transition: 0.5s;
}

.hamburger{
    display: none;
    background: none;
}

.nav-bar ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-left: 3rem;
}


.nav-bar ul li a{
    display: block;
    color: white;
    padding: 10px 8px;
    border-radius: 50px;
    margin: 0 3px;
    background: none;
    font-size: 12.5px;
    transition: 0.5s;
}

.nav-bar ul li a:hover{
    color: #7EB693;
}


.signin a{
    color: white;
    background: none;
}

.signin{
    background: #181A20;
    border: #343741 solid;
    padding: 10px 12px;
    margin-left: 1.5rem;
    border-radius: 30px;
    font-size: 12px;
}

.signin:hover{
    background: #23262e;
}

.search-mv{
    display: none;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #23262e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #252830;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #hideMenu{
    display: none;
  }

  #hide-sign{
    display: none;
  }


 


  
/* =========Mobile Navigation=========== */


@media only screen and (max-width:1024px){
    .hamburger{
        display: flex;
        cursor: pointer;
        align-items: center;
        gap: 1rem;
    }

    .hamburger i{
        color: white;
    }


    .nav-bar{
        background-color: #1b1e25;
        position: fixed;
        width: 0;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;

    }

    .nav-bar ul{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        transition: 0.5s;
    }

    .nav-bar ul li a{
        margin-top: 1.5rem;
    }

    .nav-bar ul li a{
        padding: 4px 10px;
    }

    .dropdown-content{
        padding-bottom: 1rem;
    }


    #hideMenu{
        color: white;
        display: flex;
        justify-content: right;
        margin-right: 2rem;
        margin-top: 3rem;
    }


    .nav-bar ul li a:hover{
        border-bottom: 0;
    }

    .nav-bar ul li a.active{
        border-bottom: 0;
    }
    
    .nav-bar ul li a{
        width: fit-content;
    }
    
    header .base{
        display: flex;
        align-items: center;
        gap: 5rem;
        margin: auto;
    }

    .signin{
        display: none;
    }


    #hide-sign{
    display: flex;
    padding: 6px 10px;
    } 

    
    header{
        margin: 0px 0px;
    }
    
  
}


/* ===END NAVIGATION BAR === */





/* <!-- ============== SEARCH OPTION ==================== --> */



.search{
    background: #393d47;
    padding: 8px 4px;
    margin-left: 0.6rem;
    border-radius: 30px;
}

.search-group{
    background: none;
}


.search input{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    width: 130px;
    font-size: 12px;
    margin-left: 10px;
}

.search i{
    color: white;
    margin-right: 8px;
}




 @media screen and (max-width: 1024px){

    .search{
       display: none;
    }
  
}  


/* <!-- ============== END SEARCH OPTION ==================== --> */



/* =========HERO CONTAINER========= */

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 4rem;
    background: #1D1F26;
}

.hero-txt{
    text-align: center;
}

.hero-txt h1{
    color: white;
    font-size: 64px;
}

.hero-txt h1 span{
    color: #39a769;
}

.hero-txt p{
    color: rgb(221, 221, 221);
    font-size: 24px;
    width: 600px;
    margin: auto;
}

.hero-txt p span{
    color: #DCF901;
}


.hero-image{
    display: flex;
    gap: 1rem;
    margin: auto;
    margin-top: 3rem;
}

.hero-image-1{
    backface-visibility: visible !important;
	animation: flip 3.5s ease infinite;
}

@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

.gp-1, .gp-2{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
#size-1{
    width: 169px;
    height: 180px;
    flex-shrink: 0;
}


#text-1{
    border-radius: 6px;
    color: #BDE2CB;
    background: rgba(90, 139, 109, 0.51);
    height: 65px;
    width: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#size-2{
    width: 169px;
    height: 180px;
    flex-shrink: 0;
}

#text-2{
    border-radius: 6px;
    color: #BDE2CB;
    background: rgba(90, 139, 109, 0.51);
    height: 65px;
    width: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

@media (max-width: 768px){
    .hero-txt h1{
        font-size: 22px;
    }

    .hero-txt p{
        font-size: 14px;
        width: 300px;
    }

    .hero-image{
        display: block;
    }

    #size-1{
        width: 123px;
        height: 138px;
    }

    #text-1{
        width: 123px;
        font-size: 18px;
    }

    #size-2{
        width: 123px;
        height: 138px;
    }

    #text-2{
        width: 123px;
        font-size: 18px;
    }
    
}

/* =========HERO CONTAINER========= */


/* =========SECTION ONE========= */


.section-1{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
    margin-top: 6rem;
}

.sect-1 h3{
width: 450px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 143.75% */
}

.sect-1 p{
color: #C8C8C8;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
width: 450px;
line-height: 30px;
margin-top: 1rem;
}

.sect-2 img{
    width: 400px;
    height: 312.174px;
    transition: 0.5s ease;
}

.sect-2 img:hover{
    transform: scale(1.1); 
    filter: grayscale(100%);
}

.sect-1 button{
    border-radius: 40px;
    background: var(--Primary, #00853C);
    padding: 16px 26px;
    border: none;
    font-weight: 700;   
    color: white;
    cursor: pointer;
    margin-top: 2rem;
    transition: 0.5s ease;
}

.sect-1 button:hover{
    background-color: #39a769;
    transform: scale(1.1); 
}

@media (max-width: 768px){
    .sect-1 h3{
        margin: auto;
        font-size: 20px;
        width: 300px;
        line-height: 30px;
    }

    .sect-1 p{
        width: 300px;
        font-size: 14px;
        line-height: 24px;
    }
   
    .sect-2 img{
        width: 300px;
        height: 240.174px;
    }
}

/* =========SECTION ONE========= */




/* =========SECTION TWO========= */


.section_2{
    margin-top: 6rem;
    margin-bottom: 6rem;
}


.section_2_text{
    display: flex;
    justify-content: center;
}

.section_2_text h3{
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 143.75% */
}



.section_2_content{
    width: 240px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px dashed #525C60;
    background: var(--Background, #181A20);
    transition: 0.5s ease;
    cursor: pointer;
}

.section_2_content:hover{
    background: #1F2229;
    border-color: #7EB693;
    transform: scale(1.1); 
}

.content_box i{
display: flex;
width: 60px;
height: 59px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 40px;
background: rgba(0, 133, 60, 0.15);
color: white;
margin-top: 1rem;
}

.content_box h4{
color: #FFF;
font-size: 18px;
font-weight: 600;
margin-left: 1rem;
margin-top: 3rem;
}

.link{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}
.link p{
color: #7EB693;
font-size: 14px;
font-weight: 400;
}

.link i{
 color: #7EB693;  
}

.content-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
}

.content-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}


.more_button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.more_button i{
display: flex;
width: 60px;
height: 59px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 40px;
background: var(--Primary, #00853C);
color: white;
margin-top: 1rem;
transition: 0.5s ease;
}

.more_button{
    animation: wobble 2s ease infinite;
}

@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-2%) rotate(-2deg); }
    30% { transform: translateX(2%) rotate(3deg); }
    45% { transform: translateX(-2%) rotate(-3deg); }
    60% { transform: translateX(2%) rotate(2deg); }
    75% { transform: translateX(-2%) rotate(-1deg); }
    100% { transform: translateX(0%); }
  }
  

.more_button i:hover{
    transform: scale(1.1); 
    background-color: #39a769;
}

#hide_content{
    display: none;
}

#less{
    display: none;
}

@media (max-width: 768px){
    .section_2_text h3{
        font-size: 18px;
        width: 300px;
        line-height: 30px;
        text-align: center;
    }
}


/* ========= END SECTION TWO========= */



/* ========= START SECTION THREE ========= */


.section_3_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12rem;
    margin-bottom: 4rem;
    margin-top: 10rem;
}

.section_3_container h3{
width: 450px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 143.75% */
}

.section_3_container #sect_3_paragraph{
color: #C8C8C8;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
width: 450px;
line-height: 30px;
margin-top: 1rem;
}

.section_3_detail{
border-radius: 10px;
border: 1px solid #525C60;
background: var(--Background, #181A20);
padding: 30px;
height: fit-content;
margin-bottom: 0.8rem;
transition: 0.5s ease;
}

.section_3_detail:hover{
    background-color: rgba(0, 133, 60, 0.15);
    border-color: #00853C;
    transform: scale(1.1); 
}


.section_3_detail h4{
    color: white;
}


.detail_txt p{
    width: 300px;
    font-size: 14px;
    margin-top: 0.4rem;
    color: rgba(200, 200, 200, 1);
}

.section_3_detail i{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: rgba(126, 182, 147, 1);
}


#use_section_3{
    animation: elastic-spin 14s infinite ease;
}

@keyframes elastic-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
  }


  @media (max-width:768px){
    .detail_txt p{
        width: 220px;
    }

    .section_3_detail{
        width: fit-content;
    }

    .section_3_detail h4{
        width: 220px;
    }

    .section_3_txt h3{
        font-size: 18px;
        width: 300px;
        line-height: 30px;
        text-align: left;
    }

    .section_3_container #sect_3_paragraph{
        width: 300px;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
    }

    .section_3_txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 0;
    }

    .section_3_container{
        display: flex;
        flex-wrap: wrap;
        gap: 6rem;
    }
  }

