@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #181A20;
    text-decoration: none;
}

/* ===NAVIGATION BAR === */


.logo img{
    height: 35px;
    width: 144px;
    background: none;
}

#md-logo{
    display: none;
}

@media (max-width: 768px){
    .logo img{
        display: none;
    }

    #md-logo{
        display: flex;
        height: 40px;
        width: 40px;
    }
}


.logo{
    background: none;
}

i{
    background: none;
    margin-left: 0.6rem;
}

li{
    background: none;
    
}

ul{
    background: none;
    
}


.nav-bar{
    background: none;
}

header{
    height: 80px;
    width: 100%;
    background-color: #252830;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 100px;
    position: fixed;
    z-index: 999;
    transition: 0.5s;
}

.hamburger{
    display: none;
    background: none;
}

.nav-bar ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-left: 3rem;
}


.nav-bar ul li a{
    display: block;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    margin: 0 3px;
    background: none;
    font-size: 14px;
    transition: 0.5s;
}

.nav-bar ul li a:hover{
    border-bottom: 2px solid #00853C;
}

.nav-bar ul li a.active {
    border-bottom: 2px solid #00853C;
}

.signin a{
    color: white;
    background: none;
}

.signin{
    background: #181A20;
    border: #343741 solid;
    padding: 10px 12px;
    margin-left: 1.5rem;
    border-radius: 4px;
}

.signin:hover{
    background: #23262e;
}

.search-mv{
    display: none;
}


@media only screen and (max-width:1320px){
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width:110px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width:1024px){
    .hamburger{
        display: block;
        cursor: pointer;
        margin-left: 10rem;
    }

    .hamburger .line{
        width: 22px;
        height: 2px;
        background-color: white;
        margin: 4px;
    }

    .nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #252830;
    transition: 0.5s;
    }

    .nav-bar.active{
        height: 450px;
        background-color: #252830;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 40px 40px auto;
        text-align: left;
        transition: 0.5s;
        opacity: 0;
        overflow: hidden;
    }

    .nav-bar ul li a{
        margin-bottom: 12px;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    .signin{
        display: none;
    }

    .search-mv{
       display: flex; 
       background: none;
    }

    .search-mobile{
       opacity: 0;
    }

    .nav-bar.active .search-mobile{
        opacity: 1;
    }

    .search-mobile{
    background: #393d47;
    padding: 10px 12px;
    margin-left: 1rem;
    border-radius: 4px;
    margin: 20px 40px auto;
    transition: 0.5s;
    }

    .search-mobile input{
        background: none;
        border: none;
        outline: none;
        color: white;
        font-weight: 600;
    }
    
    .search-mobile i{
        color: white;
    }

    
}

/* ===END NAVIGATION BAR === */




/* <!-- ==========BREADCRUMB=============== -->  */

/* .bread-crumb{
    width: 100%;
    background-color: #2F323A;
    position: fixed;
    z-index: 99;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.bread-crumb a{
    color: white;
    margin: 10px;
    background: none;
    padding: 10px;
    font-size: 14px;
    transition: 0.3s;
    border-radius: 30px; 
}

.bread-crumb .hover:hover{
    background: #00853C;  
}

@media (max-width:768px){
    .bread-crumb{
        display: none;
    }
} */


/* <!-- ==========END BREADCRUMB=============== --> */



/* <!-- ============== Toast ==================== --> */

.creator{
    background-color: #2F323A;
    width: 100%;
    padding: 18px;
    margin-top: 4.8rem;
}

.creator p{
    color: white;
    background: none;
    font-size: 12px;
}

.creator button{
    padding: 6px 14px;
    border: 0.1rem solid #7EB693;
    background: #2F323A;
    border-radius: 4px;
    color: #7EB693;
    font-size: 14px;
    font-weight: 400;
}

.creator .btn{
        background-color: transparent;
}
.btn i{
    color: white;
    font-size: 24px;
    background: transparent;
}


.creator{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
}

@media screen and (min-width: 768px){
    .creator p{
        font-size: 16px;
    }
}


.creator{
    z-index: 99;
} 

/* <!-- ============== END Toast ==================== --> */



































/* ======HERO CAROUSEL========= */

/* 
.mySlides {display: none}
img {vertical-align: middle;} */

/* Slideshow container */
/* .slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  padding-top: 12rem;
  flex-wrap: wrap;
} */

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: #7EB693;
  border-radius: 4px;
} */

/* .prev, .next {
    background: #252830;
    border-radius: 3rem;
    color: white;
    padding: 9px 18px;
    margin-top: 3rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    opacity: 70%;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #7EB693;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #00853C;
} */

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
} */



/* ======HERO CAROUSEL========= */


/* <!-- ============== SEARCH OPTION ==================== --> */



.search{
    background: #393d47;
    padding: 10px 20px;
    margin-left: 1rem;
    border-radius: 4px;
}

.search-group{
    background: none;
}


.search input{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
}

.search i{
    color: white;
}



 @media screen and (max-width: 1024px){

    .search{
       display: none;
    }
  
}  



/* <!-- ============== END SEARCH OPTION ==================== --> */



/* <!-- ==============UX DESIGN SEARCHES ==================== --> */


.design-group{
    padding-top: 35rem;
    padding-bottom: 4rem;
}

.container .cont-child1{
    background: white;
    background-position: center;
    background-size: 20rem;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    border-radius: 4px;
    margin-top: 2.5rem;
}

.avatar{
    background: white;
    background-position: center;
    background-size: 3rem;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    
}

.container .cont-child2{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.container .cont-child2 h3{
    color: white;
    font-size: 14px;
}

.container .cont-child2 p{
    color: #00853C;
    font-size: 14px;
}

.cont-child2 button{
    background-color: #00853C;
    padding: 8px 14px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-left: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (min-width: 768px){
    .design-group{
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    }
} 


.cont-child2 button { transition: all .2s ease-in-out; }
.cont-child2 button:hover { transform: scale(1.1); }



.cont-child1 { transition: all .2s ease-in-out; }
.cont-child1:hover { transform: scale(1.1); }

/* <!-- ==============UX DESIGN SEARCHES ==================== --> */








/* =============PREVIEW PAGE======== */

/* The grid: Four equal columns that floats next to each other */


 .row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    float: left;
    width: 16%;
    padding: 10px;
    margin-top: 1rem;
  } 
  
  /* Style the images inside the grid */
   .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  } 
  
  /* Clear floats after the columns */
   .row:after {
    content: "";
    display: table;
    clear: both;
  } 
  
  /* The expanding image container */
   .containers {
    width: 40%;
  } 
  

  
  /* Closable button inside the expanded image */
   .closebtn {
    background: #2F323A;
    position: absolute;
    top: 50px;
    right: 30px;
    color: white;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 18px;
    opacity: 60%;
  } 


   .build{
    height: 100px;
    width: 35%;
    background: #2F323A;
    margin-bottom: 10rem;
  }


  .carrier{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    border: 0.1rem solid #2F323A;
    padding: 1rem;
  } 


   .user-child{
    display: flex;
    gap: 1rem;
  }

  .user-child h3, p{
    color: white;
  }


  .user h2{
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
  } 

   .user button{
    background-color: #00853C;
    padding: 8px 14px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1.5rem;
  } 


   .column:hover{
    background: #2F323A;
  }

  .con-fam{
    margin-bottom: 2rem;
  } 



  /* ====Media Query==== */

   @media (max-width:768px){
    .row{
        display: flex;
    }
} 


@media (max-width:768px){


    .containers{
        width: 100%;
    }

    .column{
        width: 50%;
        padding: 0px 8px; 
        margin-top: 0;
    }

    .closebtn{
        right: 30px;
        top: 30px;
    } 

     .carrier{
        display: block;
      }

      .build{
        width: 100%;
      }

      .carrier{
        margin-top: 0;
        border: none;
      }

      .user h2{
        font-size: 1rem;
      }

      .user-child{
        margin-top: 1rem;
      }
      
    }


/* =============END PREVIEW PAGE======== */


