@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #181A20;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background: #1D1F26;
    background-image: url(Asset/sso-image.png);
    background-position: center;
    background-size: 31rem;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}

.container .form-box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field{
    background: #fff;
    margin: 20px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    width: 290px;
}

 input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 16px 15px;
    font-family: poppins; 
    font-weight: 600;
    margin-left: -10px;
} 


.input-field i{
    margin: 10px;
    /* margin-left: 15px; */
    color: #999;
    background: none;
}

form p{
    color: white;
    margin-top: 20px;
    font-size: 12px;
    line-height: auto;
}

form p a{
    color: #DCF901;
}

.google{
    border: 0.1rem solid #fff;
    padding: 0.6rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    font-size: 12px;
    margin-top: 28px;
}
 a .google-sign-in{
    text-decoration: none;
    text-align: center;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}

.btn-field button{
    background-color: #00853C;
    color: #fff;
    height: 40px;
    width: 140px;
    border-radius: 20px; 
    border: 0;
    outline: 0;
    cursor: pointer;
   transition: 1s;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #999;
}



.form-box h1{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #00853C;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 80px;
    height: 4px;
    border-radius: 3px;
    background: #00853C;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}


.creator-sign-in{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    gap: 0.6rem;
    align-items: center;
    font-size: 12px;
    color: #47da89;
    
}



@media screen and (max-width: 768px){
    .background{
        display: none;
    }
}

