@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #181A20;
    text-decoration: none;
}


/* ===NAVIGATION BAR === */


.logo img{
    height: 35px;
    width: 144px;
    background: none;
}

.logo img:hover{
    opacity: 70%;
}

#md-search{
    display: none;
}

@media (max-width: 768px){
    .logo img{
        display: none;
    }

    #md-search{
        display: flex;
        color: white;
    }

}


.logo{
    background: none;
}

i{
    background: none;
    margin-left: 0.6rem;
}

li{
    background: none;
    
}

ul{
    background: none;
    
}


.nav-bar{
    background: none;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    z-index: 999;
    transition: 0.5s;
}

.hamburger{
    display: none;
    background: none;
}

.nav-bar ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-left: 3rem;
}


.nav-bar ul li a{
    display: block;
    color: white;
    padding: 10px 8px;
    border-radius: 50px;
    margin: 0 3px;
    background: none;
    font-size: 14px;
    transition: 0.5s;
}

.nav-bar ul li a:hover{
    color: #7EB693;
}


.signin a{
    color: white;
    background: none;
}

.signin{
    background: #181A20;
    border: #343741 solid;
    padding: 10px 12px;
    margin-left: 1.5rem;
    border-radius: 30px;
    font-size: 12px;
}

.signin:hover{
    background: #23262e;
}

.search-mv{
    display: none;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #23262e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #252830;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #hideMenu{
    display: none;
  }

  #hide-sign{
    display: none;
  }


 


  
/* =========Mobile Navigation=========== */


@media only screen and (max-width:1024px){
    .hamburger{
        display: flex;
        cursor: pointer;
        align-items: center;
        gap: 1rem;
    }

    .hamburger i{
        color: white;
    }


    .nav-bar{
        background-color: #1b1e25;
        position: fixed;
        width: 0;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;

    }

    .nav-bar ul{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        transition: 0.5s;
    }

    .nav-bar ul li a{
        margin-top: 1.5rem;
    }

    .nav-bar .dropdown{
        background: none;
    }


    #hideMenu{
        color: white;
        display: flex;
        justify-content: right;
        margin-right: 2rem;
        margin-top: 3rem;
    }


    .nav-bar ul li a:hover{
        border-bottom: 0;
    }

    .nav-bar ul li a.active{
        border-bottom: 0;
    }
    
    .nav-bar ul li a{
        width: fit-content;
    }
    
    header .base{
        display: flex;
        align-items: center;
        gap: 5rem;
        margin: auto;
    }

    .signin{
        display: none;
    }


    #hide-sign{
    display: flex;
    padding: 6px 10px;
    } 

    
    header{
        margin: 0px 0px;
    }
    
  
}


/* ===END NAVIGATION BAR === */





/* <!-- ============== SEARCH OPTION ==================== --> */



.search{
    background: #393d47;
    padding: 8px 4px;
    margin-left: 0.6rem;
    border-radius: 30px;
}

.search-group{
    background: none;
}


.search input{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    width: 130px;
    font-size: 12px;
    margin-left: 10px;
}

.search i{
    color: white;
    margin-right: 8px;
}




 @media screen and (max-width: 1024px){

    .search{
       display: none;
    }
  
}  


/* <!-- ============== END SEARCH OPTION ==================== --> */




/* // START HERO // */

.hero{
    display: flex;
    padding-top: 10rem;
    justify-content: center;
    gap: 6rem;
    align-items: center;
}

.hero .hero-txt h1{
    color: white;
    width: auto;
    font-size: 36px;
}

.hero .hero-txt h1 span{
    color: #7EB693;
    font-weight: 300;
}

.hero .hero-txt p span{
    color: #DCF901;
    font-weight: 300;
}

/* .hero-txt{
    margin-left: 4rem;
} */

.hero .hero-txt p{
    color: #b2b3b6;
    margin-top: 1rem;
}


.hero-image{
    background-image: url(Asset/hero-Image.png);
    background-position: center;
    background-size: 20rem;
    background-repeat: no-repeat;
    padding: 10rem 10rem;
}

.hero-image{
    transition: all .2s ease-in-out; 
}

.hero-image:hover{
    transform: scale(1.1); 
}

.hero-txt button{
    background: none;
    padding: 12px 14px;
    outline: none;
    border: solid #fff 0.1rem;
    color: white;
    border-radius: 30px;
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.25 ease;
}


.hero-txt button{transition: all .2s ease-in-out;}
.hero-txt button:hover{transform: scale(1.1);}

.hero-txt h6{
    color: white;
    font-size: 12px;
    background: #34483C;
    text-align: center;
    padding: 10px 12px;
    border-radius: 30px;
    font-weight: 400;
    width: fit-content;
    margin-bottom: 1rem;
}


@media (max-width:768px){
    .hero{
        display: block;
        justify-content: center;
        align-items: center;
        padding-top: 8rem;
    }

    .hero-image{
        background-size: 18rem;  
        margin-top: 3rem;
    }

    .hero .hero-txt h1{
        font-size: 20px;
    }

    .hero .hero-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .hero .hero-txt h6{
        font-size: 12px;
        margin-bottom: 1rem;
    }


    .hero .hero-txt p{
        font-size: 12px;
    }


   

}



/* // END HERO // */





/* <!-- ==============UX DESIGN SEARCHES ==================== --> */


.design-group{
    padding-top: 6rem;
}

.container .cont-child1{
    background: white;
    background-position: center;
    background-size: 20rem;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    border-radius: 4px;
    margin-top: 2.5rem;
}

.avatar{
    background: white;
    background-position: center;
    background-size: 2rem;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    
}

.container .cont-child2{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    margin-top: 1rem;
}

.container .cont-child2 h3{
    color: white;
    font-size: 14px;
}

.container .cont-child2 p{
    color: #7EB693;
    font-size: 14px;
}

.cont-child2 button{
    padding: 6px 14px;
    background: #242730;
    border: #343741 solid;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-left: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h4{
    color: white;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: -4rem;
    margin-top: 8rem;
    text-align: center;
}


#collapsed, #collapsed2{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
}


.overlay{
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay i{
    background: white;
    color: black;
    padding: 10px;
    font-size: 12px;
    border-radius: 30px;
}


.cont-child1:hover .overlay{
    opacity: 10;
}


@media (max-width: 768px){
    h4{
        font-size: 18px;
    }
}


@media screen and (min-width: 768px){
    .design-group{
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    }

} 


.cont-child2 button { transition: all .2s ease-in-out; }
.cont-child2 button:hover { transform: scale(1.1); }



.cont-child1 { transition: all .2s ease-in-out; }
.cont-child1:hover { transform: scale(1.1); }




   .more #loading, #loadin{
    background: #4b9165;
    border: none;
    padding: 12px 16px;
    outline: none;
    color: white;
    border-radius: 30px;
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
    transition: 0.5s ease;
    }

    .more #loadin:hover, #loading:hover{
        background: #7EB693;
    }

    .more{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        margin-top: 3rem;
    }


    .loadMore{
        display: none;
    }

    #loadin{
        display: none;
    }

/* <!-- ==============UX DESIGN SEARCHES ==================== --> */






/* <!-- ======= FOOTER ========= --> */

.footer{
    background-color: #1D1F26;
    width: 100%;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-content{
    background-color: #1D1F26;
    padding-top: 4rem;
    height: fit-content;
}

.footer-content h3, span p{
    background-color: #1D1F26;
}

 .footer .footer-content span p{
    color: white;
    padding-top: 1.5rem;
    font-size: 14px;
} 

.footer .footer-content span p:hover{
    color: #7EB693;
    transform: scale(1.1);
}

.footer .footer-content span p { transition: all .2s ease-in-out; }



.footer .footer-content h3{
    color: #7EB693;
    font-size: 16px;
}

.footer-content i{
    color: white;
    font-size: 24px;
    margin-top: 1rem;
    transition: all .2s ease-in-out; 
}

.footer-content i:hover{
    color: #7EB693;
    transform: scale(1.1);
}


.borderline{
    border: 0.1rem solid #525766;
    height: 2px;
    width: 82%;
    margin: auto;
    margin-top: -6rem;
}

.copyright{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    background: none;
}

.copyright p{
    color: #525766;
    background: none;
}

@media (max-width: 700px){
    .copyright{
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        justify-content: center;
        align-items: center;
    }

    .borderline{
        margin-top: 28rem;
    }

    .footer-content h3{
        font-size: 14px;
    }

    .footer-content span p{
        font-size: 14px;
    }

    .footer{
        display: block;
        background: none;
    }

    .footer-content h3, span p{
        background: #1D1F26;
    }

    .footer-content{
        padding-left: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
    }

}



/* <!-- ======= FOOTER ========= --> */





/* <!-- ======= JOIN THE CREATORS COMMUNITY ========= --> */


 .creators{
    display: flex;
    margin-bottom: 4rem;
    background-image: url(Asset/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    width: 100%;
    background-position: center;
} 



.create{
    margin-left: 3rem;
    background: none;
}

.creators p{
    background: none;
    color: rgb(255, 255, 255);
    padding-top: 0.6rem;
}

.creators h2{
    background: none;
    color: white;
    font-size: 38px;
}

.creators .btnn{
    background: none;
}

.create button{
    background: #4b9165;
    border: none;
    padding: 12px 16px;
    outline: none;
    color: white;
    border-radius: 30px;
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
    transition: 0.5s ease;
}

.create button:hover{
    background-color: #7EB693;
}

@media (max-width:768px){
    .create{
    margin-left: 0;
    }

    .creators{
        padding: 40px 16px;
    }

    .creators h2{
    font-size: 24px;
    }

    .creators p{
    font-size: 14px;
    }


}