@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background: #181A20;
}



/* =======CREATORS DETAILS======== */

.fixed-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #272a33;
    padding: 18px;
    position: sticky;
}

.live-demo{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.live-demo button{
    background: #fff;
    padding: 14px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}

.live-demo button:hover{
    background: #7EB693;
    color: white;
}

.live-demo i{
    background: #fff;
    padding: 12px 14px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.live-demo i:hover{
    background: #7EB693;
    color: white;
}


.creator-detail{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.creator-detail h3{
    color: white;
}

.creator-detail p{
    color: #7EB693;
}

.creator-image{
    background: white;
    background-image: url(Asset/Avatar/Avatar-img-1.png);
    background-position: center;
    background-size: 3.5rem;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

@media (max-width: 767px){
    .live-demo button{
        padding: 6px 8px;
        font-size: 9px;
    }


    .live-demo i{
        padding: 7px 8px;
        font-size: 9px;
    }

    .live-demo{
        display: flex;
        gap: 0.8rem;
    }

    .creator-detail h3{
        font-size: 10px;
        transition: 0.5s ease;
    }

    .creator-detail p{
        font-size: 10px;
        transition: 0.5s ease;
    }

    .creator-image{
        background-size: 2rem;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        transition: 0.5s ease;
    }
}

/* =======CREATORS DETAILS======== */


/* <!-- =======LOWER DETAILS======== --> */



.carousel_nav{
    /* padding: 20px 0; */
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.carousel_button{
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px;
    border-radius: 50%;
}


.carousel_button_selected{
    background-color: rgba(255, 255, 255, 0.5);
}





.carousel_item img{
  height: 500px;
  width: 700px;
  margin-top: 1rem;
}

.carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* width: 300px; */
  }

  .carousel_item {
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .carousel_item_selected {
    opacity: 1;
  }

@media (max-width: 768px){
    .view-img1{
        width: 90%;
        height: 200px; 
    }
}


.lower-txt{
    padding: 2rem 4rem;
    color: white;
}

@media (max-width: 700px){
    .lower-txt{
        padding: 1.5rem 1.5rem;
    }

    .lower-txt h1{
      font-size: 18px;
      margin-bottom: 0.8rem;
    }

    .lower-txt p{
        font-size: 14px;
      }
}

.buy-btn button{
    background: #1E2027;
    border: solid #525C60 0.1rem;
    border-radius: 30px;
    padding: 12px 24px;
    color: white;
    margin: 0 3.5rem;
    margin-bottom: 2rem;
}

.buy-btn button i{
    margin-left: 0.6rem;
}

@media (max-width: 700px){
    .buy-btn button{
        margin: 0 1.2rem;
    }
}

/* <!-- =======LOWER DETAILS======== --> */




/* <!-- CARD-CONTAINER --> */

.card-cont{
    margin: 4rem 1rem;
    margin-bottom: 2rem;
    background: #1E2027; 
    border: solid #525C60 0.1rem;
    padding: 2rem 2rem;
    width: fit-content;
    border-radius: 12px;
    transition: 0.5s ease;
}

.card-cont:hover{
    border-color: #00853C;
    background: #455c4e;
}

.card-cont:active{
    border-color: #00853C;
    background: #455c4e; 
}

.group-card{
    display: flex;
    justify-content: center;
}

.package{
    color: white;
    font-size: 18px;
    display: flex;
    gap: 1rem;
    align-items: center;
}


.site-type p{
    font-size: 12px;
    color: white;
    border: white dotted 0.1rem;
    width: fit-content;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    padding: 10px;
}

.package-detail p{
    color: white;
    padding: 8px 0;
    font-size: 14px;
}

.package-detail i{
   padding-right: 1rem;
}

.percentage{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 2rem;
}
.percentage #save{
    background: #7EB693;
    width: fit-content;
    padding: 10px 14px;
    color: white;
    font-size: 12px;
    border-radius: 30px;
}

.percentage #amt{
    color: white;
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 600;
}

.cost{
    color: white;
    font-size: 28px;
    font-weight: 600; 
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.buybtn button{
background-color: white;
border: none;
border-radius: 30px;
display: flex;
padding: 12px;
width: 12rem;
justify-content: center;
align-items: center;
font-weight: 600;
transition: 0.5s ease;
}

.buybtn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.buybtn button:hover{
    background: #7EB693;
    color: white;
}

@media (max-width: 768px){
    .group-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* <!-- END CARD-CONTAINER --> */


.image_content{
    background: white;
    background-position: center;
    background-size: 20rem;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-top: 2.5rem;
    transition: 0.5s ease;
}

.image_content:hover .overley{
    opacity: 10;
}


.item_content{
    background: #1E2027;
    width: 300px;
    height: 110px;
    border: solid 0.1rem #525C60;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.5s ease;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
}

.item_content:hover{
    background-color: #455c4e;
    border-color: #00853C;
}

.item_content h1{
    color: white;
    font-size: 14px;
    margin: 8px 10px;
}

.content i{
    margin-right: 0.4rem;
}

.content p{
    color: #7EB693;
    font-size: 12px;
    /* margin-left: 8px; */
}

.content{
    display: flex;
    gap: 6rem;
    align-items: center;
    margin: 12px 10px;
    cursor: pointer;
}

.content span i{
    padding: 8px 9px;
    background: #7EB693;
    color: white;
    border: solid 0.1rem #525C60;
    border-radius: 30px;
    transition: 0.5s ease;
}

.content span i:hover{
    transform: scale(1.1);
}


.overley{
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.overley i{
    background: white;
    color: black;
    padding: 10px;
    font-size: 12px;
    border-radius: 30px;
}


