@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background: #181A20;
}




/* =======CREATORS DETAILS======== */

.fixed-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #272a33;
    padding: 14px;
    position: sticky;
}

.live-demo{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.live-demo button{
    background: #fff;
    padding: 10px 14px;
    font-size: 12px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}

.live-demo button:hover{
    background: #7EB693;
    color: white;
}

.live-demo i{
    background: #fff;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.live-demo i:hover{
    background: #7EB693;
    color: white;
}


.creator-detail{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.creator-detail h3{
    color: white;
    font-size: 14px;
}

.creator-detail p{
    color: #7EB693;
    font-size: 12px;
}

.creator-image{
    background: white;
    background-image: url(ava.png);
    background-position: center;
    background-size: 2.3rem;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

@media (max-width: 767px){
    .live-demo button{
        padding: 6px 8px;
        font-size: 9px;
    }


    .live-demo i{
        padding: 7px 8px;
        font-size: 9px;
    }

    .live-demo{
        display: flex;
        gap: 0.8rem;
    }

    .creator-detail h3{
        font-size: 10px;
        transition: 0.5s ease;
    }

    .creator-detail p{
        font-size: 10px;
        transition: 0.5s ease;
    }

    .creator-image{
        background-size: 2rem;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        transition: 0.5s ease;
    }
}

/* =======CREATORS DETAILS======== */







/* =============PREVIEW PAGE======== */

/* The grid: Four equal columns that floats next to each other */


.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    float: left;
    width: 60%;
    padding: 10px;
  } 
  
  /* Style the images inside the grid */
   .column img {
    opacity: 0.8; 
    border-radius: 4px;
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  } 
  
  /* Clear floats after the columns */
   .row:after {
    content: "";
    display: table;
    clear: both;
  } 
  
  /* The expanding image container */
   .containers {
    width: 40%;
  } 

  .containers img{
    border-radius: 4px;
  }
  
  
  
   .build{
    height: 100px;
    width: 45%;
    margin-bottom: 10rem;
  }


  .user .detail{
    margin-left: 2rem;
  }

  .carrier{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
  } 


   .user-child{
    display: flex;
    gap: 1rem;
  }

  .detail h3{
    color: white;
  }

  .detail p{
    color: rgb(168, 168, 168);
  }

  .detail{
    margin-top: 1rem;
    margin-left: 0.6rem;
  }



   .column:hover{
    background: #2F323A;
  }

  .con-fam{
    margin-bottom: 2rem;
  } 



  .package-detail{
    margin-top: 1rem;
    margin-left: 0.6rem;
  }
  .package-detail p{
    color: white;
    padding: 8px 0;
    font-size: 14px;
}

.package-detail i{
   padding-right: 1rem;
}




.percentage{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 2rem;
    padding-bottom: 6rem;
}
.percentage #save{
    background: #1E2027;
    padding: 10px 16px;
    color: #7EB693;
    font-size: 12px;
    border-radius: 30px;
}

.percentage span{
    color: white;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 600;
    padding-right: 1rem;
}

.cost{
    color: white;
    font-size: 20px;
    font-weight: 600; 
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.buybtn button{
background-color: #00853C;
border: none;
border-radius: 30px;
display: flex;
padding: 12px 22px;
justify-content: center;
align-items: center;
font-weight: 600;
transition: 0.5s ease;
color: white;
cursor: pointer;
}

.buybtn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.buybtn button:hover{
    background: #7EB693;
    color: white;
}

.sale-cost{
    display: flex;
    gap: 2rem;
    align-items: center;
}




  /* ====Media Query==== */

   @media (max-width:768px){
    .row{
        display: flex;
    }

    .user .detail{
        margin-left: 0;
      }

      .percentage{
        flex-wrap: wrap;
      }
} 


@media (max-width:768px){


    .containers{
        width: 100%;
    }

    .column{
        width: 50%;
        padding: 0px 8px; 
        margin-top: 1rem;
    }

    .closebtn{
        right: 30px;
        top: 30px;
    } 

     .carrier{
        display: block;
      }

      .build{
        width: 100%;
      }

      .carrier{
        margin-top: 0;
        border: none;
      }

      .user h2{
        font-size: 1rem;
      }

      .user-child{
        margin-top: 1rem;
      }
      
    }


/* =============END PREVIEW PAGE======== */



